/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem
*.rbc
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

/vendor/bundle
/lib/bundler/man/

Gemfile.lock
.ruby-version
.ruby-gemset
.rvmrc
*.swp
*.swo
demo/
TODO
.env
tags
.byebug_history
